@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

.card {
  @apply bg-white rounded-xl shadow-sm border border-slate-100;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  .animate-bounce-short {
    animation: bounce-short 1s infinite;
  }

  @keyframes bounce-short {

    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @keyframes scan {
    0% {
      top: 0%;
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      top: 100%;
      opacity: 0;
    }
  }
}